<!-- Razor code to set the title-->
@{
    ViewData["Title"] = "About";
}

<h1>Felipe Botero</h1>
<p>I am a designer and coder of Full Stack web applications.  I have been working on mastering the following: HTML, CSS, JavaScript, JQuery, ASP.net Core, C#, Ajax and many others.</p>
<br>
<p>I live in Flemington New Jersey and look forward to buidling many interesting web and mobile applications to make this a better world.</p>
<img src="/img/Felipe Botero selfie.jpg" alt="Felipe Botero selfie" width=200vw hwight= 40vh>