<!-- Razor code to set the title-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To My Task Manager, where you can keep track of all those todo's that keep you busy!!!</a>.</p>
</div>
