@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestiae autem eveniet, itaque velit minus recusandae! Modi unde quis voluptates nesciunt explicabo assumenda rem ullam, est, deserunt quam culpa voluptate.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestiae autem eveniet, itaque velit minus recusandae! Modi unde quis voluptates nesciunt explicabo assumenda rem ullam, est, deserunt quam culpa voluptate.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestiae autem eveniet, itaque velit minus recusandae! Modi unde quis voluptates nesciunt explicabo assumenda rem ullam, est, deserunt quam culpa voluptate.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestiae autem eveniet, itaque velit minus recusandae! Modi unde quis voluptates nesciunt explicabo assumenda rem ullam, est, deserunt quam culpa voluptate.</p>